/* Иконки */

.icon--home {
	background: url(../img/icon/main.png) no-repeat;
	height: 33px; 
	width: 36px;
}

.icon--info {
	background: url(../img/icon/about.png) no-repeat;
	height: 32px; 
	width: 36px;
}

.icon--gift {
	background: url(../img/icon/advant.png) no-repeat;
	height: 37px; 
	width: 40px;
}

.icon--product {
	background: url(../img/icon/goods.png) no-repeat;
	height: 37px; 
	width: 28px;
}

.icon--service {
	background: url(../img/icon/uslugi.png) no-repeat;
	height: 28px; 
	width: 28px;
}

.icon--finger {
	background: url(../img/icon/client.png) no-repeat;
	height: 33px; 
	width: 30px;
}

.icon--gallery {
	background: url(../img/icon/galler.png) no-repeat;
	height: 36px; 
	width: 42px;
}

.icon--contest {
	background: url(../img/icon/cup.png) no-repeat;
	height: 32px; 
	width: 29px;
}

.icon--contact {
	background: url(../img/icon/contact.png) no-repeat;
	height: 33px; 
	width: 19px;
}