@import 'normalize';
@import 'variables';
@import 'container';
@import 'mix';
@import 'fonts';


.left {
	float: left;
}

.right {
	float: right;
}

#nav {
	background-color: #555;
	box-sizing: border-box;
	-webkit-box-shadow: 7px 0px 17px -5px rgba(0,0,0,0.63);
-moz-box-shadow: 7px 0px 17px -5px rgba(0,0,0,0.63);
box-shadow: 7px 0px 17px -5px rgba(0,0,0,0.63);
  height: 100vh;
  vertical-align: top;
  max-width: 20.8333333%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 400px;
}

.logo {
	background: #ebebeb;
	-webkit-box-shadow: 0px 7px 5px 0px #333;
	-moz-box-shadow: 0px 7px 5px 0px #333;
	box-shadow: 0px 7px 5px 0px #333;
	box-sizing: border-box;	
	display: block;
	text-align: center;
	width: 100%;
	img {	  
		height: 127px;
		padding: 17px 0 40px 0;
		width: 266px;
	}
}

.nav {
	box-sizing: border-box;
	padding: 31px 0 0 39px;
	width: 100%;
	.list {
		margin: 0;
		padding: 0;
		list-style: none;
		&__item {
			padding-bottom: 33px;
			.link {
				display: block;				
				text-decoration: none;				
				transform: scaleY(1.0043);
				&:hover {
					color: lighten(#ebebeb,70%);
				}
				@import 'icons';
				.icon {
					
				}
				.txt {
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
					color:  #ebebeb;
					font-size: 29.87px;
					position: relative;
					text-transform: uppercase;
					padding-left: 19px;
				}	
			}

			.btn-verdict {
				border: 2px solid #fff;
				border-radius: 3px;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				color:  #ebebeb;
				font-size: 29.87px;
				position: relative;
				padding-left: 57px;
				text-transform: uppercase;
				line-height: 51px;
				width: 180px;
				&:hover {
					background: #ebebeb;
					color: #555;
					cursor: pointer;
				}
			}			
		}
		&__item.title {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				color:  #ebebeb;
				font-size: 25px;
				line-height: 25px;
				padding-bottom: 39px;
			}
	}
}

.menu {
	background: #a3a3a3;
	-webkit-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.63);
	-moz-box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.63);
	box-shadow: 0px 7px 17px -5px rgba(0,0,0,0.63);
	position: fixed;
	top: 0;
	right: 0;
	left: 20.8333333%; 
	z-index: 1;
	.tabs {
		display: flex;
		flex-wrap: nowrap;
		.link {
			background: #555;
			float: left;
			border-left: 1px solid #464646;
			border-right: 1px solid #464646;
			box-sizing: border-box;
			display: block;			
			text-decoration: none;
			text-transform: uppercase;				
			padding: 18px 0;
			position: relative;
			text-align: center;
			width: 380px;
			.title.moder {	
				background: url(../img/icon/moderation.png) no-repeat;
				background-size: contain;
			}	
			.title.public {	
				background: url(../img/icon/soglas.png) no-repeat;
				background-size: contain;
			}		
			.title.error {	
				background: url(../img/icon/otklonen.png) no-repeat;
				background-size: contain;
			}	
			.title.edit {	
				background: url(../img/icon/redaktir.png) no-repeat;
				background-size: contain;
			}					
			.title {					
				color:  #fff;
				display: inline-block;
				font-family: 'Roboto', sans-serif;					
				font-size: 24px;
				font-weight: 400;
				line-height: 52px;
				margin: 0 auto;
				padding-left: 78px;   			
			}	
		&:hover {
			background: #a3a3a3;
			.title {
				color: #373737;
			}
		}	
		}
		.link.active {
			background: #a3a3a3;
			.title {
				color: #373737;
			}
		}
	}
	.filtres {
		padding: 7px 45px 14px 45px;
		&__item {		
	    box-sizing: border-box;
			display: inline-block;
			padding: 0 10px;
			width: 16.199%;
			.label-item {
				display: block;		
				font-family: 'Roboto', sans-serif;	
				color:  #000;
				font-size: 19.41px;
				font-weight: 300;
				line-height: 36px;
				text-align: left;
				transform: scaleX(1.0017);
				width: 100%;
			}
			.input {
				background-color:  #ebebeb;
				box-sizing: border-box;
				border: 0;
				font-family: 'Roboto', sans-serif;
				color:  #464646;
				font-size: 20.19px;
				font-weight: 400;		
				line-height: 14px;
				padding: 7px 16px;
				text-align: left;
				transform: scaleX(1.0017);
				width: 100%;
			}
			.input.search {
				line-height: 24px;
			}		
	}
		&__item.search {
			float: right;
			width: 19.791%;
		}
	}
}

.content {
	background: #e1e1e1;
	margin: 189px 0 0 20.8333333%;
	.parametr {
		background: #ebebeb;
		-webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.63);
		-moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.63);
		box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.63);
		padding: 0 29px;
		display: flex;
		flex-wrap: no-wrap;		
    justify-content: space-around;
		&__item {
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			color:  #000000;
			font-size: 22.69px;
			font-weight: 300;
			line-height: 73px;
			.name {
				text-transform: uppercase;
			}
		}
	}
	.verdict {
		display: none;
		padding: 50px 0 90px 0;
		text-align: center;
		margin: 0 auto;
		width: 82%;
		.title {
			font-family: 'Roboto', sans-serif;
			color:  #000000;
			font-size: 45px;
			font-weight: 300;
			margin: 0;
			padding-bottom: 32px;
		}
		&__form {
			.form__item {
				text-align: left;
				width: 48%;
				.signa {
					display: block;
					font-family: 'Roboto', sans-serif;
					color:  #000000;
					font-size: 30.01px;
					font-weight: 300;
					padding-bottom: 14px;
					width: 100%;
				}
				.select {
					background: #ebebeb;
					background-image: url('../img/strelka.png');
				  background-position: right center;
				  background-repeat: no-repeat;
				  /*for WebKit*/
				 -webkit-appearance: none;
				 /* for FF */
				  -moz-appearance: none;
				  text-overflow: '';
				  /* for IE */
				  -ms-appearance: none;
				  appearance: none!important;
					border: 0;
					font-family: 'Roboto', sans-serif;
					color:  #555555;
					font-size: 27.1px;
					font-weight: 400;
					line-height: 64px;
					padding: 0 75px 0 24px;
					margin-bottom: 14px;
					transform: scaleX(1.0031);
					width: 100%;
				}				
			}
			.violations {
				text-align: left;
				width: 48%;
				.form__item {
				 width: 100%;
				 .comment {
				 	height: 281px;
				 }
				}

			}
			.comment {
					border: 0;
					box-sizing:border-box;
					padding: 32px 35px;
					height: 359px;
					width: 100%;
				}
			.btns {
				margin-top: 44px;
				.btn {
					border: 0;
					border-radius: 3px;
					cursor: pointer;
					width: 323px;
					font-family: 'Roboto', sans-serif;
					color:  #fff;
					font-size: 26.65px;
					font-weight: 400;
					line-height: 76px;
					margin: 0 13px;
				}
				.btn.btn-yes {
					background: #008c1e;
					&:hover {
						background: lighten(#008c1e, 2%);
						color: darken (#fff, 100%);
					}
					
				}
				.btn.btn-no {
					background: #ff2e2e;
					&:hover {
						background: lighten(#ff2e2e, 2%);
						color: darken (#fff, 100%);
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1810px) {
		.menu .filtres__item .label-item  {
			font-size: 18.41px;		
		}
		.menu .filtres__item .input {
			padding: 5px 16px;
		}

		.menu .filtres {
			padding: 7px 45px 14px 45px;
		}

		.content .verdict {
			padding: 30px 0 60px 0;
		}

		.content .verdict .title {
			font-size: 40px;
			padding-bottom: 28px;
		}

		.content .verdict__form .form__item .signa {
			font-size: 26.01px;
			padding-bottom: 12px;
		}

		.content .verdict__form .btns {
			margin-top: 30px;
		}

		.content .verdict__form .comment {
			height: 300px;
		}

		.content .verdict__form .form__item .select {
			font-size: 25.1px;
			line-height: 45px;
		}

		.content .verdict__form .violations .form__item .comment {
			height: 241px;
		}
}

@media screen and (max-width: 1720px) {
		.menu .filtres__item .label-item  {
			font-size: 17.41px;		
		}

		.menu .filtres__item .input {
			padding: 4px 16px;
		}

		.menu .filtres {
			padding: 7px 45px 20px 45px;
		}

		.nav .list__item {
    	padding-bottom: 25px;
		}    	

		.nav .list__item .link .txt {
			font-size: 20px;
			padding-left: 10px;
		}

		.nav .list__item .link.btn-verdict {
			font-size: 20px;
			padding-left: 47px;
		}

		.nav .list__item .link .icon {
			height: 24px;
			width: 30px;
		}

		.content .parametr__item {
			font-size: 20px;
		}
}

@media screen and (max-width: 1641px) {
		.menu .filtres__item .label-item  {
			font-size: 15.41px;		
		}

		.menu .filtres__item .input {
			padding: 4px 13px;
		}

		.menu .tabs .link .title {
			font-size: 20px;
			line-height: 48px;
		}

		.menu .filtres {
			padding: 7px 45px 24px 45px;
		}
}

@media screen and (max-width: 1483px) {
		.menu .filtres__item .label-item  {
			font-size: 13.41px;		
		}

		.menu .filtres__item .input {
			padding: 2px 9px;
		}

		.menu .filtres {
			padding: 7px 45px 28px 45px;
		}

		.content .parametr__item {
		    font-size: 17px;
		}

	.nav .list__item .btn-verdict {
		line-height: 45px;
    width: 145px;
	}
}

@media screen and (max-width: 1330px) {
	.menu .filtres {
			padding: 7px 45px 28px 45px;
		}

	.menu .tabs .link .title {
		font-size: 18px;
		line-height: 44px;
	}

	.menu .filtres__item .label-item  {
			font-size: 12px;		
	}

	.logo img {
		height: auto;
		width: 100%;
	}

	.nav .list__item {
    padding-bottom: 20px;
	}

	.nav .list__item .link .txt {
  	font-size: 16px;
	}

	.nav .list__item .link.btn-verdict {
		font-size: 16px;
	}

	.nav .list__item .link .icon {
    height: 20px;
    width: 24px;
	}
	
	.content .verdict {
			padding: 20px 0 40px 0;
		}

		.content .verdict .title {
			font-size: 32px;
			padding-bottom: 22px;
		}

		.content .verdict__form .form__item .signa {
			font-size: 22.01px;
			padding-bottom: 8px;
		}

		.content .verdict__form .btns {
			margin-top: 20px;
		}

		.content .verdict__form .comment {
			height: 200px;
		}

		.content .verdict__form .form__item .select {
			font-size: 20px;
			line-height: 30px;
		}

		.content .verdict__form .violations .form__item .comment {
			height: 156px;
		}

		.content .verdict__form .btns .btn {
			line-height: 60px;
			width: 285px;
		}


}

@media screen and (max-width: 1278px) {
	.content .parametr__item {
		font-size: 15px;
		line-height: 55px;
	}
}

@media screen and (max-width: 1215px) {
	.content {
		margin: 149px 0 0 20.8333333%;
	}
	.menu .filtres__item .label-item {
		font-size: 11px;
	}

	.menu .tabs .link .title {
		font-size: 15px;
    line-height: 40px;
    padding-left: 60px;
	}

	.logo img {
    height: auto;
    width: 100%;
    padding: 0px 0 25px 0;
	}

	.menu .tabs .link {
		padding: 9px 0;
	}

	.menu .filtres {
		padding: 3px 45px 13px 45px;
	}
}

@media screen and (max-width: 1215px) {
	.nav {
		padding: 26px 0 0 34px;
	}
}

@media screen and (max-width: 1139px) {
	.menu .filtres__item .label-item {
		font-size: 10px;
	}

	.menu .filtres__item .input {
		font-size: 16px;
	}

	.content .parametr__item {
		font-size: 12px;
	}

	.menu .filtres__item {
		width: 19%;
	}

	.menu .filtres {
		padding: 3px 45px 18px 45px;
	}
}

@media screen and (max-width: 1100px) { 
	.nav .list__item .btn-verdict {
		width: 120px;
	}

	.nav .list__item .link.btn-verdict {
		padding-left: 37px;
	}

	.nav .list__item .link .icon {
    height: 17px;
    width: 21px;
	}

	.menu .filtres {
    padding: 3px 45px 9px 45px;
	}
}

@media screen and (max-width: 1100px) { 
	.nav .list__item .link .txt {
	    display: none;
	}
	.nav {
    padding: 26px 0 0 0;
   	text-align: center;
	}

	.nav .list__item .link.btn-verdict {
		margin: 0 auto;
		padding: 0;
	}

	.menu .filtres {
    padding: 7px 45px 18px 10px;
	}

	.menu .tabs .link .title {
    line-height: 27px;
    padding-left: 35px;
	}

	.content {
    margin: 133px 0 0 20.8333333%;
	}
}

@media screen and (max-width: 980px) { 
	.menu .filtres {
    padding: 0px 45px 16px 10px;
	}

	.content {
    margin: 124px 0 0 20.8333333%;
	}	

	.content .verdict__form .btns .btn {
    line-height: 50px;
    font-size: 24px;
    width: 220px;
	}

	.content .verdict .title {
    font-size: 28px;
    padding-bottom: 18px;
	}
	
	.form__item .signa {
    font-size: 20.01px;
  }

  .content .verdict__form .comment {
  	padding: 12px;
  }
}

@media screen and (max-width: 906px) { 
	.content .parametr__item {
	    font-size: 10px;
	}

	.menu .filtres__item.search {
    float: right;
    width: 15%;
	}

	.menu .filtres {
    padding: 0px 16px 16px 10px;
	}

	.menu .tabs .link .title {
    line-height: 23px;
    padding-left: 30px;
	}
}

@media screen and (max-width: 840px) { 
	.menu .filtres__item {
    width: 20%;
	}

	.menu .filtres__item.search {
    float: right;
    width: 12%;
	}

	.menu .tabs .link .title {
    line-height: 17px;
    padding-left: 23px;
	}

	.menu .tabs .link .title {
    font-size: 12px;
  }

	.content .verdict__form .form__item .select {
	    font-size: 16px;
	    padding: 0 75px 0 20px;
	}

	.content {
    margin: 113px 0 0 20.8333333%;
	}
}

@media screen and (max-width: 797px) { 
	.menu .filtres__item.search {
    float: right;
    width: 9%;
	}

	.menu .filtres__item {
    width: 22%;
	}

	.content .parametr {
		padding: 0;
	}

	.menu .filtres {
    padding: 0px 16px 8px 10px;
	}

	.content {
    margin: 106px 0 0 20.8333333%;
	}
}

@media screen and (max-width: 728px) { 
	.menu .filtres__item .input {
    font-size: 12px;
	}
}